Repository robustmq/robustmq, pull requests merged in 2025-04, with the labels that each got.

#1030 docs: add mqtt command doc for acl and blacklist
  docs/en/RobustMQ-Command/Mqtt-Broker.md
  docs/zh/RobustMQ-Command/Mqtt-Broker.md
  src/cli-command/src/mqtt.rs
  src/mqtt-broker/src/handler/topic_rewrite.rs
  src/mqtt-broker/src/subscribe/sub_common.rs
Labels: kind:docs, Size: M

#1027 refactor: Refactor Connector and add Topic Rewrite support in MQTT Command
  src/cli-command/src/mqtt.rs
  src/cmd/src/cli-command/command.rs
  src/cmd/src/cli-command/mqtt/admin.rs
Labels: Size: L, kind:refactor

#1019 test: Optimize MQTT Protocol functional integration tests
  src/mqtt-broker/src/handler/response.rs
  src/mqtt-broker/src/handler/topic_rewrite.rs
  src/mqtt-broker/src/handler/unsubscribe.rs
  src/mqtt-broker/src/security/acl/auth.rs
  src/mqtt-broker/src/subscribe/share_leader_push.rs
  src/mqtt-broker/src/subscribe/subscribe_manager.rs
  src/placement-center/src/mqtt/controller/session_expire.rs
  tests/tests/mqtt_protocol/acl_test.rs
  tests/tests/mqtt_protocol/blacklist_test.rs
  tests/tests/mqtt_protocol/connect5_test.rs
  tests/tests/mqtt_protocol/mod.rs
  tests/tests/mqtt_protocol/share_sub_test.rs
  tests/tests/mqtt_protocol/sub_identifier_test.rs
Labels: Size: L, kind:test

#1033 fix: fix file connector bug
  Cargo.lock
  src/mqtt-broker/Cargo.toml
  src/mqtt-broker/src/bridge/core.rs
  src/mqtt-broker/src/bridge/file/mod.rs
Labels: kind:bug, Size: M

#1034 fix: Integration Test Optimization
  .github/workflows/ig-all-test.yml
  .github/workflows/mqtt-ig-test.yml
  .github/workflows/place-ig-test.yml
  makefile
  scripts/bin-ig-test.sh
  scripts/journal-ig-test.sh
  scripts/mqtt-ig-test.sh
  scripts/place-ig-test.sh
  src/mqtt-broker/src/handler/cache.rs
  src/mqtt-broker/src/handler/keep_alive.rs
  src/mqtt-broker/src/handler/lastwill.rs
  src/mqtt-broker/src/handler/retain.rs
  src/mqtt-broker/src/handler/topic_rewrite.rs
  src/mqtt-broker/src/subscribe/exclusive_push.rs
  src/mqtt-broker/src/subscribe/share_follower_resub.rs
  src/mqtt-broker/src/subscribe/share_leader_push.rs
  src/mqtt-broker/src/subscribe/sub_common.rs
  src/storage-adapter/src/placement/mod.rs
  tests/tests/mqtt_protocol/common.rs
  tests/tests/mqtt_protocol/connect5_test.rs
  tests/tests/mqtt_protocol/mod.rs
  tests/tests/mqtt_protocol/sub_exclusive_test.rs
  tests/tests/mqtt_protocol/sub_identifier_test.rs
Labels: kind:bug, Size: M

#1036 test: check placement status before starting test
  scripts/check-place-status.sh
  scripts/place-ig-test.sh
Labels: Size: S, kind:test

#1038 docs: fix some command-line document description
  docs/en/RobustMQ-Command/Mqtt-Broker.md
  docs/en/RobustMQ-Command/Overview.md
  docs/zh/RobustMQ-Command/Mqtt-Broker.md
  docs/zh/RobustMQ-Command/Overview.md
Labels: kind:docs, Size: M

#1040 fix: fix mqtt command list-topic to support list all topics
  .github/workflows/apidoc.yml
  .github/workflows/code-style.yml
  .github/workflows/ig-all-test.yml
  .github/workflows/license.yaml
  .github/workflows/pr-title-checker.yml
  src/cmd/src/cli-command/command.rs
  src/cmd/src/cli-command/mqtt/admin.rs
  src/mqtt-broker/src/admin/topic.rs
Labels: kind:bug, Size: M

#1037 test: Optimize the stability of mqtt broker integration tests
  src/common/metadata-struct/src/mqtt/topic.rs
  src/mqtt-broker/src/admin/mod.rs
  src/mqtt-broker/src/handler/cache.rs
  src/mqtt-broker/src/handler/cache_update.rs
  src/mqtt-broker/src/handler/heartbreat.rs
  src/mqtt-broker/src/handler/keep_alive.rs
  src/mqtt-broker/src/handler/mqtt.rs
  src/mqtt-broker/src/handler/response.rs
  src/mqtt-broker/src/handler/sub_exclusive.rs
  src/mqtt-broker/src/handler/sub_parse_topic.rs
  src/mqtt-broker/src/handler/subscribe.rs
  src/mqtt-broker/src/handler/unsubscribe.rs
  src/mqtt-broker/src/handler/validator.rs
  src/mqtt-broker/src/lib.rs
  src/mqtt-broker/src/server/tcp/tcp_server.rs
  src/mqtt-broker/src/server/tcp/tls_server.rs
  src/mqtt-broker/src/subscribe/sub_common.rs
  src/mqtt-broker/src/subscribe/subscribe_manager.rs
  src/placement-center/src/mqtt/controller/call_broker.rs
  src/placement-center/src/mqtt/services/subscribe.rs
  tests/tests/mqtt_protocol/common.rs
  tests/tests/mqtt_protocol/connect5_test.rs
  tests/tests/mqtt_protocol/keep_alive_test.rs
  tests/tests/mqtt_protocol/mod.rs
Labels: Size: L, kind:test

#1041 test: Subscription identifier test case optimization
  docs/.vitepress/src/sidebars/en.mts
  docs/.vitepress/src/sidebars/zh.mts
  scripts/bin-ig-test.sh
  src/mqtt-broker/src/admin/topic.rs
  src/mqtt-broker/src/handler/cache.rs
  src/mqtt-broker/src/handler/error.rs
  src/mqtt-broker/src/handler/heartbreat.rs
  src/mqtt-broker/src/handler/mqtt.rs
  src/mqtt-broker/src/handler/retain.rs
  src/mqtt-broker/src/handler/session.rs
  src/mqtt-broker/src/handler/subscribe.rs
  src/mqtt-broker/src/handler/topic.rs
  src/mqtt-broker/src/handler/topic_rewrite.rs
  src/mqtt-broker/src/handler/unsubscribe.rs
  src/mqtt-broker/src/handler/validator.rs
  src/mqtt-broker/src/lib.rs
  src/mqtt-broker/src/security/mod.rs
  src/mqtt-broker/src/server/grpc/inner.rs
  src/mqtt-broker/src/subscribe/sub_common.rs
  src/placement-center/src/mqtt/services/session.rs
  tests/tests/mqtt_protocol/mod.rs
  tests/tests/mqtt_protocol/topic_rewrite_rule_test.rs
  tests/tests/mqtt_protocol/topic_rewrite_test.rs
Labels: Size: XL, kind:test

#1045 docs: add the social links and doc env guide add windows Installation nodejs
  docs/.vitepress/src/configs/en.mts
  docs/.vitepress/src/configs/zh.mts
  docs/en/ContributionGuide/ContributingDoc/Build-Doc-Env.md
  docs/zh/ContributionGuide/ContributingDoc/Build-Doc-Env.md
Labels: kind:docs, Size: S

#1047 feat: Mqtt broker supports pprof
  Cargo.lock
  Cargo.toml
  config/mqtt-server.toml
  deny.toml
  src/common/base/src/config/broker_mqtt.rs
  src/common/base/src/config/common.rs
  src/common/pprof-monitor/Cargo.toml
  src/common/pprof-monitor/src/lib.rs
  src/common/pprof-monitor/src/pprof_monitor.rs
  src/mqtt-broker/Cargo.toml
  src/mqtt-broker/src/lib.rs
Labels: kind:feat, Size: M

#1043 test: imporve subscribe options test
  docs/images/WechatGroup.jpg
  tests/tests/mqtt_protocol/common.rs
  tests/tests/mqtt_protocol/mod.rs
  tests/tests/mqtt_protocol/sub_options_test.rs
Labels: Size: M, kind:test

#1048 test: Topic rewriting test case optimization
  config/log-config/mqtt-log4rs.yaml
  config/mqtt-server.toml
  src/common/base/src/config/broker_mqtt.rs
  src/common/metadata-struct/src/mqtt/auto_subscribe_rule.rs
  src/mqtt-broker/src/admin/subscribe.rs
  src/mqtt-broker/src/handler/mod.rs
  src/mqtt-broker/src/handler/mqtt.rs
  src/mqtt-broker/src/handler/retain.rs
  src/mqtt-broker/src/handler/sub_auto.rs
  src/mqtt-broker/src/handler/sub_option.rs
  src/mqtt-broker/src/handler/sub_parse_topic.rs
  src/mqtt-broker/src/handler/subscribe.rs
  src/mqtt-broker/src/handler/topic.rs
  src/mqtt-broker/src/handler/topic_rewrite.rs
  src/mqtt-broker/src/observability/system_topic/event.rs
  src/mqtt-broker/src/subscribe/exclusive_push.rs
  src/mqtt-broker/src/subscribe/sub_common.rs
  src/mqtt-broker/src/subscribe/subscriber.rs
  src/placement-center/src/route/mqtt.rs
  src/placement-center/src/storage/mqtt/subscribe.rs
  src/protocol/src/mqtt/common.rs
  src/protocol/src/mqtt/mqttv4/subscribe.rs
  src/protocol/src/mqtt/mqttv5/subscribe.rs
  tests/tests/mqtt_protocol/common.rs
  tests/tests/mqtt_protocol/flapping_detect_test.rs
  tests/tests/mqtt_protocol/mod.rs
  tests/tests/mqtt_protocol/sub_options_test.rs
  tests/tests/mqtt_protocol/trace_test.rs
Labels: Size: XL, kind:test

#1052 docs: Update the Mac development environment setup guide
  Cargo.lock
  docs/.vitepress/src/sidebars/en.mts
  docs/.vitepress/src/sidebars/zh.mts
  docs/en/ContributionGuide/ContributingCode/Build-Develop-Env.md
  docs/zh/ContributionGuide/ContributingCode/Build-Develop-Env.md
Labels: kind:docs, Size: S

#1051 fix: Add config grpc_max_decoding_message_size to make the max si…
  config/placement-center.toml
  src/common/base/src/config/default_placement_center.rs
  src/common/base/src/config/placement_center.rs
  src/placement-center/src/server/grpc/server.rs
Labels: kind:bug, Size: S

#1062 test: Add autosubscribed test cases
  tests/tests/mqtt_protocol/blacklist_test.rs
  tests/tests/mqtt_protocol/mod.rs
  tests/tests/mqtt_protocol/sub_auto.rs
Labels: Size: M, kind:test

#1063 feat: Payload Format Indicator and Content Type functionality support
  Cargo.lock
  Cargo.toml
  src/message-expire/Cargo.toml
  src/message-expire/src/lib.rs
  src/message-expire/tests/mod.rs
  src/mqtt-broker/src/handler/content_type.rs
  src/mqtt-broker/src/handler/mod.rs
  src/mqtt-broker/src/handler/validator.rs
  tests/tests/mqtt_protocol/common.rs
  tests/tests/mqtt_protocol/content_type_test.rs
  tests/tests/mqtt_protocol/mod.rs
Labels: kind:feat, Size: M

#1064 test: Add integration tests for json and avro in schema
  Cargo.lock
  src/common/metadata-struct/src/mqtt/cluster.rs
  src/mqtt-broker/src/handler/cluster_config.rs
  src/mqtt-broker/src/handler/error.rs
  src/mqtt-broker/src/handler/mqtt.rs
  src/mqtt-broker/src/handler/validator.rs
  src/mqtt-broker/src/subscribe/share_leader_push.rs
  src/schema-register/src/avro.rs
  src/schema-register/src/schema.rs
  tests/Cargo.toml
  tests/tests/mqtt_protocol/common.rs
  tests/tests/mqtt_protocol/connect_packet_size_test.rs
  tests/tests/mqtt_protocol/mod.rs
  tests/tests/mqtt_protocol/schema_test.rs
Labels: Size: M, kind:test

#1068 test: Add unit test for MqttBlackListStorage
  src/placement-center/src/storage/mqtt/blacklist.rs
Labels: Size: S, kind:test

#1073 docs: adding the first task document
  docs/.vitepress/src/sidebars/zh.mts
  docs/zh/Architect/Overview.md
  docs/zh/QuickGuide/mqtt/FirstTask.md
Labels: kind:docs, Size: M

#1059 feat: add set_cluster_config gRpc interface to unifiy interface
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  codecheck.sh
  docs/en/QuickGuide/mqtt/Run-K8S-Mode.md
  docs/en/RobustMQ-Command/Placement-Center.md
  docs/images/WechatGroup.jpg
  docs/zh/QuickGuide/mqtt/FirstTask.md
  docs/zh/QuickGuide/mqtt/Run-Docker-Mode.md
  docs/zh/QuickGuide/mqtt/Run-K8S-Mode.md
  docs/zh/RobustMQ-Command/Placement-Center.md
  src/cli-command/src/mqtt.rs
  src/cmd/src/cli-command/mqtt/admin.rs
  src/common/base/src/enum_type/feature_type.rs
  src/common/base/src/enum_type/mod.rs
  src/common/metadata-struct/src/mqtt/cluster.rs
  src/grpc-clients/src/mqtt/admin/call.rs
  src/grpc-clients/src/mqtt/admin/mod.rs
  src/journal-server/Cargo.toml
  src/mqtt-broker/src/admin/cluster.rs
  src/mqtt-broker/src/admin/mod.rs
  src/mqtt-broker/src/handler/cluster_config.rs
  src/mqtt-broker/src/handler/flapping_detect.rs
  src/mqtt-broker/src/observability/slow/sub.rs
  src/mqtt-broker/src/server/grpc/admin.rs
  tests/Cargo.toml
  tests/tests/mqtt_client/mod.rs
  tests/tests/mqtt_client/offline_message_test.rs
  tests/tests/mqtt_client/slow_sub_test.rs
Labels: kind:feat, Size: L

#1078 refactor: refactor session
  src/placement-center/src/mqtt/services/session.rs
  src/placement-center/src/server/grpc/service_mqtt.rs
Labels: Size: M, kind:refactor

#1076 test: Add unit test for SchemaStorage
  src/placement-center/src/route/common.rs
  src/placement-center/src/storage/placement/schema.rs
Labels: Size: M

#1081 docs: fix typo
  docs/.vitepress/src/sidebars/en.mts
Labels: kind:docs, size/xs

#1080 feat: add pagination, sort, filter support for session and client list query
  Cargo.lock
  src/mqtt-broker/src/admin/client.rs
  src/mqtt-broker/src/admin/mod.rs
  src/mqtt-broker/src/admin/query.rs
  src/mqtt-broker/src/admin/session.rs
  src/mqtt-broker/src/admin/user.rs
  src/mqtt-broker/src/server/grpc/admin.rs
Labels: kind:feat, Size: M

#1082 docs: Update documentation on the website
  config/journal-server.toml
  config/mqtt-server.toml
  docs/.DS_Store
  docs/.vitepress/src/sidebars/en.mts
  docs/.vitepress/src/sidebars/zh.mts
  docs/en/Architect/Design-Documentation.md
  docs/en/Architect/Overview.md
  docs/en/OverView/What-is-RobustMQ.md
  docs/en/VersionRecord/Good-First-Issue.md
  docs/images/robustmq-architecture.png
  docs/zh/Architect/Design-Documentation.md
  docs/zh/Architect/Overview.md
  docs/zh/OverView/What-is-RobustMQ.md
  docs/zh/VersionRecord/Good-First-Issue.md
  src/common/base/src/config/journal_server.rs
  src/mqtt-broker/src/handler/mqtt.rs
  src/mqtt-broker/src/subscribe/sub_common.rs
Labels: kind:docs, Size: S

#1083 docs: Optimize MQTT-related documentation
  docs/.vitepress/src/sidebars/en.mts
  docs/.vitepress/src/sidebars/zh.mts
  docs/en/OverView/Good-First-Issue.md
  docs/en/QuickGuide/mqtt/First-Task.md
  docs/zh/OverView/Good-First-Issue.md
  docs/zh/QuickGuide/mqtt/First-Task.md
Labels: kind:docs, Size: M

#1084 chore: Update root's license
  LICENSE
Labels: size/xs, kind:chore

#1087 feat: add user and blacklist query list query support
  Cargo.lock
  Cargo.toml
  src/cli-command/src/mqtt.rs
  src/common/metadata-struct/src/acl/mqtt_blacklist.rs
  src/grpc-clients/tests/mqtt/mqtt_admin_test.rs
  src/mqtt-broker/src/admin/acl.rs
  src/mqtt-broker/src/admin/blacklist.rs
  src/mqtt-broker/src/admin/client.rs
  src/mqtt-broker/src/admin/mod.rs
  src/mqtt-broker/src/admin/query.rs
  src/mqtt-broker/src/admin/session.rs
  src/mqtt-broker/src/admin/user.rs
  src/mqtt-broker/src/server/grpc/admin.rs
  tests/tests/mqtt_protocol/acl_test.rs
  tests/tests/mqtt_protocol/blacklist_test.rs
Labels: kind:feat, Size: M

#1088 docs: Add documentation for the public MQTT Server
  config/journal-server.toml
  config/log-config/journal-tracing.toml
  config/log-config/mqtt-tracing.toml
  config/log-config/place-tracing.toml
  config/mqtt-server.toml
  docs/.vitepress/src/sidebars/en.mts
  docs/.vitepress/src/sidebars/zh.mts
  docs/en/RobustMQ-MQTT/Dashboard.md
  docs/en/RobustMQ-MQTT/GrpcAdmin.md
  docs/en/RobustMQ-MQTT/PublicMqttServer.md
  docs/en/RobustMQ-MQTT/SystemArchitecture.md
  docs/images/dashboard.png
  docs/zh/QuickGuide/mqtt/First-Task.md
  docs/zh/RobustMQ-MQTT/Dashboard.md
  docs/zh/RobustMQ-MQTT/GrpcAdmin.md
  docs/zh/RobustMQ-MQTT/PublicMqttServer.md
  docs/zh/RobustMQ-MQTT/SystemArchitecture.md
Labels: kind:docs, Size: L

#1086 feat: add heartbeat detection timeout configuration for mqtt-broker
  Cargo.lock
  Cargo.toml
  config/mqtt-server.toml
  docs/en/Architect/Configuration/Mqtt-Server.md
  docs/zh/Architect/Configuration/Mqtt-Server.md
  src/common/base/Cargo.toml
  src/common/base/src/config/broker_mqtt.rs
  src/common/base/src/config/common.rs
  src/common/base/src/config/default_mqtt.rs
  src/mqtt-broker/Cargo.toml
  src/mqtt-broker/src/handler/heartbreat.rs
  src/mqtt-broker/src/lib.rs
Labels: kind:feat, Size: M

#1089 docs: Add documentation for the public MQTT Server
  docs/en/RobustMQ-MQTT/PublicMqttServer.md
  docs/images/mqttx-2.png
  docs/images/mqttx01.png
  docs/zh/RobustMQ-MQTT/PublicMqttServer.md
Labels: kind:docs, Size: S
